<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="Center">Zé Felipe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <img class="img" src="../../assets/zé.webp" alt="">
<ion-card >
  <ion-card-header>
    <ion-card-title> <strong>Zé Felipe</strong></ion-card-title>
  </ion-card-header>

  <ion-card-content class="color">
   E-mail: zefelipe120@gmail.com
  </ion-card-content>
  <ion-card-content class="color">
    Telefone: (14) 988705040
  </ion-card-content>
  <ion-card-content class="color">
    ID:2
  </ion-card-content>
</ion-card>
</ion-content>
