<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="Center">Gustavo Lima</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <img class="img" src="../../assets/gustavo lima.jpg" alt="">
<ion-card >
  <ion-card-header>
    <ion-card-title color="dark"><strong>Gustavo Lima</strong></ion-card-title>
  </ion-card-header>

  <ion-card-content class="color">
   E-mail:gustavolimabebe@gmail.com
  </ion-card-content>
  <ion-card-content class="color">
    Telefone: (14) 998075020
  </ion-card-content>
  <ion-card-content class="color">
    ID:5
  </ion-card-content>
</ion-card>
</ion-content>
