<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="Center">Gustavo Lima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <h1 class="back" color="secondary" routerLink="../../app/home/home.page.html"><ion-icon name="arrow-back-outline"></ion-icon></h1>
  <img class="img" src="../../assets/gustavo lima.jpg" alt="">
<ion-card >
  <ion-card-header>
    <ion-card-title color="dark">Gustavo Lima</ion-card-title>
  </ion-card-header>

  <ion-card-content class="color">
   E-mail:gustavolimabebe@gmail.com
  </ion-card-content>
  <ion-card-content class="color">
    ID:5
  </ion-card-content>
</ion-card>
</ion-content>
