<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="Center">Virgínia Fonseca</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="dark">

    <img class="img" src="../../assets/virginia-fonseca (1).png" alt="">
  <ion-card >
    <ion-card-header>
      <ion-card-title><strong>Virgínia Fonseca</strong></ion-card-title>
    </ion-card-header>

    <ion-card-content class="color">
     E-mail: virginiafonseca@gmail.com
    </ion-card-content>
    <ion-card-content class="color">
      Telefone: (14) 998706570
    </ion-card-content>
    <ion-card-content class="color">
      ID:1
    </ion-card-content>
  </ion-card>
</ion-content>
