<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Virgínia Fonseca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img src="../../assets/virginia-fonseca (1).png" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Virgínia Fonseca</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     E-mail: virginiafonseca@gmail.com
    </ion-card-content>
    <ion-card-content>
      ID:230
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" class="center">Voltar</ion-button>
</ion-content>
