<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="Center">Ana Castela</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <img class="img" src="../../assets/ana castela.webp" alt="">
<ion-card >
  <ion-card-header>
    <ion-card-title class="color">Ana Castela</ion-card-title>
  </ion-card-header>

  <ion-card-content class="color">
   E-mail: anacastela145@gmail.com
  </ion-card-content>
  <ion-card-content class="color">
    Telefone: (14) 988706920
  </ion-card-content>
  <ion-card-content class="color">
    ID:4
  </ion-card-content>
</ion-card>
</ion-content>
