<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="Center">Camila Loures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <img class="img" src="../../assets/Camila-Loures.png" alt="">
<ion-card >
  <ion-card-header>
    <ion-card-title class="color"><strong>Camila Loures</strong></ion-card-title>
  </ion-card-header>

  <ion-card-content class="color">
   E-mail: camilaloures268@gmail.com
  </ion-card-content>
  <ion-card-content class="color">
    Telefone: (14) 997065010
  </ion-card-content>
  <ion-card-content class="color">
    ID:3
  </ion-card-content>
</ion-card>
</ion-content>
