<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="Center">
     Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item (click)="irParaRota('../contato1')">
      <ion-avatar slot="start">
        <img  src="../../assets/virginia-fonseca (1).png">
      </ion-avatar>
      <ion-label class="Fonte">Virgínia Fonseca
        <p>
          E-mail: virginiafonseca@gmail.com
        </p>

      </ion-label> <ion-text color="dark">1</ion-text>

    </ion-item>
    <ion-item  (click)="irParaRota('../contato2')">
      <ion-avatar slot="start">
        <img src="../../assets/zé.webp"/>
      </ion-avatar>
      <ion-label class="Fonte">Zé Felipe
        <p>
          E-mail: zefelipe120@gmail.com
        </p>


      </ion-label> <ion-text color="dark">2</ion-text>
    </ion-item>
    <ion-item (click)="irParaRota('../contato3')">
      <ion-avatar slot="start">
        <img src="../../assets/Camila-Loures.png"/>
      </ion-avatar>
      <ion-label class="Fonte">Camila Loures
        <p>
          E-mail: camilaloures268@gmail.com
        </p>

      </ion-label> <ion-text color="dark">3</ion-text>
    </ion-item>
    <ion-item (click)="irParaRota('../contato4')">
      <ion-avatar slot="start">
        <img src="../../assets/ana castela.webp"/>
      </ion-avatar>
      <ion-label class="Fonte">Ana Castela
        <p>
          E-mail: anacastela145@gmail.com
        </p>
      </ion-label> <ion-text color="dark">4</ion-text>
    </ion-item>
    <ion-item (click)="irParaRota('../contato5')">
      <ion-avatar slot="start">
        <img src="../../assets/gustavo lima.jpg" alt="">
      </ion-avatar>
      <ion-label class="Fonte">Gustavo Lima
        <p>
          E-mail:gustavolimabebe@gmail.com
        </p>


      </ion-label> <ion-text color="dark">5</ion-text>
    </ion-item>
  </ion-list>


</ion-content>
