<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="Center">
     Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item (click)="irParaRota('../contato1')">
      <ion-avatar slot="start">
        <img  src="../../assets/virginia-fonseca (1).png">
      </ion-avatar>
      <ion-label class="Fonte">Virgínia Fonseca</ion-label> <ion-text>1</ion-text>
    </ion-item>
    <ion-item  (click)="irParaRota('../contato2')">
      <ion-avatar slot="start">
        <img src="../../assets/zé.webp"/>
      </ion-avatar>
      <ion-label class="Fonte">Zé Felipe</ion-label> <ion-text>2</ion-text>
    </ion-item>
    <ion-item (click)="irParaRota('../contato3')">
      <ion-avatar slot="start">
        <img src="../../assets/Camila-Loures.png"/>
      </ion-avatar>
      <ion-label class="Fonte">Camila Loures</ion-label> <ion-text>3</ion-text>
    </ion-item>
    <ion-item (click)="irParaRota('../contato4')">
      <ion-avatar slot="start">
        <img src="../../assets/ana castela.webp"/>
      </ion-avatar>
      <ion-label class="Fonte">Ana Castela</ion-label> <ion-text>4</ion-text>
    </ion-item>
    <ion-item (click)="irParaRota('../contato5')">
      <ion-avatar slot="start">
        <img src="../../assets/gustavo lima.jpg" alt="">
      </ion-avatar>
      <ion-label class="Fonte">Gustavo Lima</ion-label> <ion-text>5</ion-text>
    </ion-item>
  </ion-list>


</ion-content>
